:root{
  --backGround :#ecf0f3 ;
  --darkShadow:#a7aaaf;
  --lightShadow:#fff;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* --------- TO DO -------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Paytone+One&family=Poppins:ital,wght@0,400;1,200;1,300&display=swap');

body{
  font-family: 'Poppins', sans-serif;
}

/* Counter */
.container{
  width: 100%;
  display: grid;
  justify-content: center;
}

.counter{
  height: 200px;
  width: 800px;
  border: solid black 2px;
  border-radius: 40px 40px 0 0 ;
  display: grid;
  place-items: center;
}

/* Search */
.contSearch{
  padding: 5px;
  display: grid;
  justify-content: center;
  margin-bottom: 4%;
}
.search{
  width: 250px;
  border-radius: 8px;
  cursor: pointer;
  background: #ffffff;
  padding: 2%;
  font-size: 18px;
  border: #e8eaea 4px solid;
  outline: none;
  background: transparent;
  transition: all 1s ease;
}
.search::placeholder{
  text-align: center;
}
.search:focus{
  outline: none;
  border: #f0f5f8 4px solid;
  box-shadow: inset 1px 5px 8px var(--darkShadow), inset -27.93px -27.93px 20px var(--lightShadow);
}

/* list */
.contList{
  width: 800px;
  height: 360px;
  display: grid;
  justify-self: center;
  justify-content: center;
  border: 2px black solid;
  border-top: none;
  border-radius: 0 0 20px 20px;
  background-color: #ecf0f3;
}
/* item */

.contItem{
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 400px;
  padding: 2%;
  justify-content: space-between;
  margin-bottom: 2%;
  transition: all 1s ease;
}
.contItem:hover{
  transform: scale(1.1);
  box-shadow: 2px 2px 6px #a7aaaf, -8px -8px 10px  #fff;
  border-radius: 10px;
  transition: transform 2s ease-out ;
}
.contItem input[type="checkbox"]{
  cursor: pointer;
  transform: scale(1.5);
  accent-color: rgb(40, 141, 40);
}
.toDoCheck{
  text-decoration: none;
}
.toDoUndo{
  text-decoration: line-through;
}
.eraseItem{
  font-weight: bolder;
  font-size: 18px;
  cursor: pointer;
}
.eraseItem:hover{
  color: tomato;
}
/* button */
.addButton{
  border-radius: 50px;
  width: 60px;
  height: 60px;
  background: #61dafb;
  color: whitesmoke;
  font-size: 40px;
  font-weight: 400;
  border: solid #61dafb 3px;
  position: relative;
  left: 700px;
  bottom: 80px;
  box-shadow: 2px 2px 6px #a7aaaf, -8px -8px 10px  #fff;
  transition: all 1s;
}
.addButton:hover{
  transform: rotate(180deg);
  transition: transform 1s ease-in-out;
}

/* ----- MODAL----- */
.modalBackground{
  background: rgba(32, 35, 41, .8);
  position: fixed;
  top: -10px;
  left: -10px;
  right: -10px;
  bottom: -10px;
  display: grid;
  place-items: center;
  color: white;
}